.header {
	backdrop-filter: blur(3px);
	@apply w-full sticky top-0 z-100 dark:bg-primary-500 light:bg-white;
}

.header_opacity {
	@apply bg-opacity-25 !important;
}

.main {
	@apply w-full h-full;
}

#app {
	display: grid;
	grid-auto-rows: auto 1fr;
	width: 100vw;
	height: 100vh;
}

.wrapper {
	@apply w-full h-full flex items-center justify-center flex-col -mt-5;
}

.title {
	@apply font-extrabold text-4xl;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.navbar {
		-webkit-backdrop-filter: blur(3px);
		backdrop-filter: blur(3px);
	}
}
