@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

svg {
	@apply dark:text-white 
	text-black;
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

::selection {
	background-color: #f81ce5;
	color: #fefefe;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

blockquote {
	@apply rounded
		bg-gray-100 dark:bg-gray-900;
}

code[class*="language-"],
pre[class*="language-"] {
	color: #ebdbb2;
	font-family: Consolas, Monaco, "Andale Mono", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	@apply text-white
		bg-yellow-600;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	@apply text-white
		bg-yellow-600;
}

/* Code blocks */
pre[class*="language-"] {
	@apply p-4 overflow-auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	@apply bg-gray-200 dark:bg-gray-900;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #a89984;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #fb4934;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #a89984;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #fabd2f;
}

.token.entity,
.token.number,
.token.symbol {
	color: #d3869b;
}

.token.property,
.token.constant,
.token.variable {
	color: #fb4934;
}

.token.string,
.token.char {
	color: #b8bb26;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #a89984;
}

.token.url {
	color: #b8bb26;
	text-decoration: underline;
}

.token.function {
	color: #fabd2f;
}

.token.regex {
	background: #b8bb26;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #a89984;
}

.token.deleted {
	background: #fb4934;
}
